<div class="container">
    <div class="row" style="margin-top: 3%;">
        <div style="text-align: right; margin-bottom: 2%;">
            <a href=""><button class="btn btn-success"><i class="fa fa-chevron-circle-left"></i> Back</button></a>
        </div>
        
        <p>?) Create a timetable design as given below.
            Design a select box to load all working days. (You can load the days from an array is mandatory and load the current day by default)
            Highlight the day from table you have selected from the select box.</p>
    </div>
    <div class="row p2" style="margin-top: 2%;padding: auto;">
        <select name="Day" class="form-control" [(ngModel)]="selectedDay" (change)="fnChangeDay()">
            <option value="Select a day">Select a day</option>
            <option *ngFor = "let day of week" ng-value="day">{{day}}</option>   
        </select>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <p><b>Timetable</b></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                      </tr>
                </thead>
                <tbody>
                  <tr [ngStyle]="Monday ?{'background-color': 'green','color':'white'} : {'background-color': ''}">
                    <th scope="row">MONDAY</th>
                    <td>SUB-1</td>
                    <td>SUB-2</td>
                    <td>SUB-3</td>
                    <td>SUB-4</td>
                    <td>SUB-5</td>
                    <td>SUB-6</td>
                    <td>SUB-7</td>
                  </tr>
                  <tr [ngStyle]="Tuesday ?{'background-color': 'green','color':'white'} : {'background-color': ''}">
                    <th scope="row">TUESDAY</th>
                    <td>SUB-1</td>
                    <td>SUB-2</td>
                    <td>SUB-3</td>
                    <td>SUB-4</td>
                    <td>SUB-5</td>
                    <td>SUB-6</td>
                    <td>SUB-7</td>
                  </tr>
                  <tr [ngStyle]="Wednesday ?{'background-color': 'green','color':'white'} : {'background-color': ''}">
                    <th scope="row">WEDNESDAY</th>
                    <td>SUB-1</td>
                    <td>SUB-2</td>
                    <td>SUB-3</td>
                    <td>SUB-4</td>
                    <td>SUB-5</td>
                    <td>SUB-6</td>
                    <td>SUB-7</td>
                  </tr>
                  <tr [ngStyle]="Thursday ?{'background-color': 'green','color':'white'} : {'background-color': ''}">
                    <th scope="row">THURSDAY</th>
                    <td>SUB-1</td>
                    <td>SUB-2</td>
                    <td>SUB-3</td>
                    <td>SUB-4</td>
                    <td>SUB-5</td>
                    <td>SUB-6</td>
                    <td>SUB-7</td>
                  </tr>
                  <tr [ngStyle]="Friday ?{'background-color': 'green','color':'white'} : {'background-color': ''}">
                    <th scope="row">FRIDAY</th>
                    <td>SUB-1</td>
                    <td>SUB-2</td>
                    <td>SUB-3</td>
                    <td>SUB-4</td>
                    <td>SUB-5</td>
                    <td>SUB-6</td>
                    <td>SUB-7</td>
                  </tr>
                  <tr [ngStyle]="Saturday ?{'background-color': 'green','color':'white'} : {'background-color': ''}">
                    <th scope="row">SATURDAY</th>
                    <td>SUB-1</td>
                    <td>SUB-2</td>
                    <td>SUB-3</td>
                    <td>SUB-4</td>
                    <td>SUB-5</td>
                    <td>SUB-6</td>
                    <td>SUB-7</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
